name: Get runner's public IP address
on: workflow_dispatch
jobs:
  get-public-ip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: echo "requests==2.28.1" > requirements.txt
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8' 
          cache: 'pip'
      - run: pip install -r requirements.txt
      - run: echo $(python scripts/check_ip.py)
